<nav>
    <a href="/">Home</a>
    <% if (username) { %>
        <a href="/secure">Secure Page</a>
        <a href="/logout">Logout</a>
    <% } else { %>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
    <% } %>
</nav>
<hr>
